@import 'variables';
@import 'mixins';

body {
	font-family: $font-family;
}

body.about {
	background: $blue;

	nav li.nav-about a {
		color: $black;
		border-bottom: 5px $black solid;
	}
}

body.skills {
	background: $yellow;

	nav li.nav-skills a {
		color: $black;
		border-bottom: 5px $black solid;
	}
}

body.experience {
	background: $orange;

	nav li.nav-experience a {
		color: $black;
		border-bottom: 5px $black solid;
	}
}

body.projects {
	background: $green;

	nav li.nav-projects a {
		color: $black;
		border-bottom: 5px $black solid;
	}
}

a {
	color: $white;
	text-decoration: none;
	transition: $transition;

	&:hover {
		color: $black;
	}
}

.site-header {
	margin: $gutter $gutter;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 1.5rem;
		margin: 0;
		padding: $gutter-sm $gutter;
		background: $black;
		color: $white;
	}

	.menu-bar {
		font-size: 2rem;
		cursor: pointer;
		@include media-sm-plus {
			display: none;
		}
	}

	nav {
		display: none;

		ul {
			list-style-type: none;
			margin: .75rem 0 0 0;
			padding-left: 0;

			li {
				display: inline-block;

				a {
					padding: $gutter-sm;
					font-weight: bold;
				}
			}
		}

		@include media-sm-plus {
			display: block;
		}
	}

	@include media-sm-plus {
		margin: $gutter $gutter-lg;
	}
}

.content {
	margin: 0 $gutter $gutter $gutter;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	/*.content-title, */.content-next, .content-previous {
		text-align: center;
		width: 100%;
	}

	.content-previous {
		margin-bottom: 1rem;
	}

	/*.content-title {
		margin: 0 0 $gutter 0;
	}*/

	.content-box {
		background: $white;
		margin-bottom: $gutter;
		padding: $gutter;
		box-sizing: border-box;
		width: 100%;

		/* about */

		&.about-picture {
			img {
				width: 100%;
			}
			@include media-sm-plus {
				width: 30%;
				border-right: $gutter-sm $blue solid;
			}
			@include media-md-plus {
				width: 20%;
			}
		}

		&.about-summary {
			@include media-sm-plus {
				width: 70%;
				border-left: $gutter-sm $blue solid;
			}
			@include media-md-plus {
				width: 80%;
			}
		}

		&.about-training {
			@include media-sm-plus {
				width: 50%;
				border-right: $gutter-sm $blue solid;
			}
		}

		&.about-contact {
			@include media-sm-plus {
				width: 50%;
				border-left: $gutter-sm $blue solid;
			}
		}

		/* skills */

		&.skills-lang {
			@include media-sm-plus {
				width: 33.3333%;
				border-right: $gutter-sm $yellow solid;
			}
		}

		&.skills-libs {
			@include media-sm-plus {
				width: 33.3333%;
				border-left: $gutter-sm $yellow solid;
				border-right: $gutter-sm $yellow solid;
			}
		}

		&.skills-tech {
			@include media-sm-plus {
				width: 33.3333%;
				border-left: $gutter-sm $yellow solid;
			}
		}

		&.experience-job {
			@include media-sm-plus {
				width: 33.3333%;

				&:nth-child(2) {
					border-right: $gutter-sm $orange solid;
				}

				&:nth-child(3) {
					border-right: $gutter-sm $orange solid;
					border-left: $gutter-sm $orange solid;
				}

				&:nth-child(4) {
					border-left: $gutter-sm $orange solid;
				}

				&:nth-child(5) {
					width: 50%;
					border-right: $gutter-sm $orange solid;
				}

				&:nth-child(6) {
					width: 50%;
					border-left: $gutter-sm $orange solid;
				}
			}
		}

		&.project-project {
			@include media-sm-plus {
				width: 33.3333%;

				&:nth-child(2) {
					border-right: $gutter-sm $green solid;
				}

				&:nth-child(3) {
					border-right: $gutter-sm $green solid;
					border-left: $gutter-sm $green solid;
				}

				&:nth-child(4) {
					border-left: $gutter-sm $green solid;
				}

				&:nth-child(5) {
					border-right: $gutter-sm $green solid;
				}

				&:nth-child(6) {
					border-right: $gutter-sm $green solid;
					border-left: $gutter-sm $green solid;
				}

				&:nth-child(7) {
					border-left: $gutter-sm $green solid;
				}
			}
		}

		a {
			color: $orange;
			transition: $transition;

			&:hover {
				color: $blue;
			}
		}

		h3 {
			margin: 0 0 $gutter 0;
		}

		h4 {
			margin: $gutter 0 $gutter-sm 0;
		}

		.content-box-sub {
			h4 {
				margin: $gutter-sm 0 0 0;
				text-decoration: underline;
			}

			h6 {
				margin: $gutter-xsm 0;
				color: $grey;
			}
		}

		.graph-bar {
			.bar {
				width: 100%;
				border: .1rem $grey solid;
				border-radius: $radius;
				height: 2rem;
				margin: 0 0 .5rem 0;
				box-sizing: border-box;

				span {
					box-sizing: border-box;
					display: inline-block;
					height: 100%;
					background: $grey-light;
					color: $black;
					padding: .3rem;
					border-radius: .1rem 0 0 .1rem;
				}

				/* languages */
				.bar-js {
					width: 80%;
				}
				.bar-html {
					width: 75%;
				}
				.bar-css {
					width: 71%;
				}
				.bar-node {
					width: 55%;
				}
				.bar-mongo {
					width: 45%;
				}
				.bar-ruby {
					width: 35%;
				}
				.bar-asp {
					width: 30%;
				}
				.bar-postgres {
					width: 25%;
				}
				.bar-python {
					width: 20%;
				}
				/* libraries */
				.bar-react {
					width: 60%;
				}
				.bar-express {
					width: 48%;
				}
				.bar-jquery {
					width: 45%;
				}
				.bar-less {
					width: 40%;
				}
				.bar-sass {
					width: 40%;
				}
				.bar-bootstrap {
					width: 35%;
				}
				.bar-mocha {
					width: 30%;
				}
				.bar-mongoose {
					width: 30%;
				}
				.bar-mithril {
					width: 25%;
				}
				.bar-rails {
					width: 20%;
				}
				.bar-sinatra {
					width: 15%;
				}
				.bar-angular {
					width: 13%;
				}

				/* technologies */
				.bar-http {
					width: 50%;
				}
				.bar-linux {
					width: 38%;
				}
				.bar-git {
					width: 35%;
				}
				.bar-webpack {
					width: 25%;
				}
				.bar-inkscape {
					width: 25%;
				}
				.bar-gimp {
					width: 22%;
				}
				.bar-aws {
					width: 20%;
				}
				.bar-gulp {
					width: 15%;
				}
			}
		}
	}

	@include media-sm-plus {
		margin: 0 $gutter-lg $gutter $gutter-lg;
	}
}