@import 'variables';
@import 'mixins';

body {
	font-family: $font-family;
}

body.home {
	background: $blue;
}

body.skills {
	background: $yellow;
}

body.experience {
	background: $orange;
}

body.projects {
	background: $green;
}

body.contact {
	background: $contact-primary;
}

a {
	color: $white;
	text-decoration: none;
	transition: $transition;

	&:hover {
		color: $black;
	}
}

.site-header {
	margin: $gutter $gutter;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 1.5rem;
		margin: 0;
		padding: $gutter-sm $gutter;
		background: $black;
		color: $white;
	}

	.menu-bar {
		font-size: 2rem;
		cursor: pointer;
		@include media-sm-plus {
			display: none;
		}
	}

	nav {
		display: none;

		ul {
			list-style-type: none;
			margin: .75rem 0 0 0;
			padding-left: 0;

			li {
				display: inline-block;

				a {
					padding: $gutter-sm;
					font-weight: bold;

					&.selected {
						color: $black;
						border-bottom: 5px $black solid;
					}
				}
			}
		}

		@include media-sm-plus {
			display: block;
		}
	}

	@include media-sm-plus {
		margin: $gutter $gutter-lg;
	}
}

.content {

	.content-next, .content-previous {
		display: none;
	}

	.sections {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		> section {
			background: $white;
			margin-bottom: $gutter;
			padding: $gutter;
			box-sizing: border-box;
			width: 100%;
			display: flex;
			flex-direction: column;

			h3 {
				border-bottom: 2px $black solid;
				margin: 0 0 $gutter 0;
			}
		}
	}

	.home-sections {

		> section {

			a {
				color: #d67743;
				transition: $transition;

				&:hover {
					color: $blue;
				}
			}

			&.home-picture {
				img {
					width: 100%;
				}
				@include media-sm-plus {
					width: 30%;
					border-right: $gutter-sm $blue solid;
				}
				@include media-md-plus {
					width: 20%;
				}
			}

			&.home-summary {
				@include media-sm-plus {
					width: 70%;
					border-left: $gutter-sm $blue solid;
				}

				@include media-md-plus {
					width: 80%;
				}
			}

			&.home-training {

				> section {
					h4 {
						margin: $gutter-sm 0 0 0;
						text-decoration: underline;
					}

					h6 {
						margin: $gutter-xsm 0;
						color: $grey;
					}
				}

				@include media-sm-plus {
					width: 50%;
					border-right: $gutter-sm $blue solid;
				}
			}

			&.home-contact {
				@include media-sm-plus {
					width: 50%;
					border-left: $gutter-sm $blue solid;
				}
			}

			h4 {
				margin: $gutter 0 $gutter-sm 0;
			}
		}
	}

	.experience-sections {

		> section {

			a {
				color: #2286de;

				&:hover {
					color: $orange;
				}
			}

			h4 {
				margin: 0;

				.dates {
					color: $grey;
					float: right;
					font-weight: normal;
					font-size: .8rem;
				}
			}

			h5 {
				font-size: 1rem;
				margin: $gutter 0 $gutter-sm 0;
			}

			p {
				margin: $gutter-sm 0;
			}

			@include media-sm-plus {
				width: 33.3333%;

				&:nth-child(3n) {
					border-left: $gutter-sm $orange solid;
				}

				&:nth-child(3n-1) {
					border-right: $gutter-sm $orange solid;
					border-left: $gutter-sm $orange solid;
				}

				&:nth-child(3n-2) {
					border-right: $gutter-sm $orange solid;
				}
			}
		}
	}

	.project-sections {

		> section {

			a {
				color: #679698;

				&:hover {
					color: $green;
				}
			}

			h4 {
				margin: 0;

				.dates {
					color: $grey;
					float: right;
					font-weight: normal;
					font-size: .8rem;
				}
			}

			h5 {
				font-size: 1rem;
				margin: $gutter 0 $gutter-sm 0;
			}

			p {
				margin: $gutter-sm 0;
			}

			@include media-sm-plus {
				width: 33.3333%;

				&:nth-child(3n) {
					border-left: $gutter-sm $green solid;
				}

				&:nth-child(3n-1) {
					border-right: $gutter-sm $green solid;
					border-left: $gutter-sm $green solid;
				}

				&:nth-child(3n-2) {
					border-right: $gutter-sm $green solid;
				}
			}
		}
	}

	.contact-sections {

		> section {

			a {
				color: $contact-secondary;

				&:hover {
					color: $contact-primary;
				}
			}

			h4 {
				margin: $gutter 0 $gutter-sm 0;
			}

			h5 {
				font-size: 1rem;
				margin: $gutter 0 $gutter-sm 0;
			}

			p {
				margin: $gutter-sm 0;
			}

			@include media-sm-plus {
				width: 50%;

				&:nth-child(3) {
					width: 100%;
				}

				&:nth-child(1) {
					border-right: $gutter-sm $contact-primary solid;
				}

				&:nth-child(2) {
					border-left: $gutter-sm $contact-primary solid;
				}
			}
		}
	}

	.skills-sections {

		> section {

			&.skills-lang {
				@include media-sm-plus {
					width: 33.3333%;
					border-right: $gutter-sm $yellow solid;
				}
			}

			&.skills-libs {
				@include media-sm-plus {
					width: 33.3333%;
					border-left: $gutter-sm $yellow solid;
					border-right: $gutter-sm $yellow solid;
				}
			}

			&.skills-tech {
				@include media-sm-plus {
					width: 33.3333%;
					border-left: $gutter-sm $yellow solid;
				}
			}

			.graph-bar {
				.bar {
					width: 100%;
					border: .1rem #bbb solid;
					border-radius: $radius;
					height: 2rem;
					margin: 0 0 .5rem 0;
					box-sizing: border-box;
					background: #f5f5f5;

					span {
						box-sizing: border-box;
						display: inline-block;
						height: 100%;
						background: #d4dde1;
						color: #333;
						padding: .3rem;
						border-radius: .1rem 0 0 .1rem;
					}

					/* languages */
					.bar-js {
						width: 80%;
					}
					.bar-html {
						width: 75%;
					}
					.bar-css {
						width: 71%;
					}
					.bar-node {
						width: 55%;
					}
					.bar-mongo {
						width: 45%;
					}
					.bar-ruby {
						width: 35%;
					}
					.bar-asp {
						width: 30%;
					}
					.bar-postgres {
						width: 25%;
					}
					.bar-python {
						width: 20%;
					}

					/* libraries */
					.bar-react {
						width: 60%;
					}
					.bar-express {
						width: 48%;
					}
					.bar-jquery {
						width: 45%;
					}
					.bar-less {
						width: 40%;
					}
					.bar-sass {
						width: 40%;
					}
					.bar-bootstrap {
						width: 35%;
					}
					.bar-mocha {
						width: 30%;
					}
					.bar-mongoose {
						width: 30%;
					}
					.bar-mithril {
						width: 25%;
					}
					.bar-rails {
						width: 20%;
					}
					.bar-sinatra {
						width: 15%;
					}
					.bar-angular {
						width: 13%;
					}

					/* technologies */
					.bar-http {
						width: 50%;
					}
					.bar-linux {
						width: 38%;
					}
					.bar-git {
						width: 35%;
					}
					.bar-webpack {
						width: 25%;
					}
					.bar-inkscape {
						width: 25%;
					}
					.bar-gimp {
						width: 22%;
					}
					.bar-aws {
						width: 20%;
					}
					.bar-gulp {
						width: 15%;
					}
				}
			}
		}
	}

	@include media-sm-plus {
		margin: 0 $gutter-lg $gutter $gutter-lg;
	}
}

.hug-bottom {
	margin-top: auto;
}

/*#app {
	position: relative;

	.slide {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		-webkit-animation: slide 0.5s forwards;
	    animation: slide 0.5s forwards;

		&.slide-in {
			right: -100%;
			transform: translateX(-100%);
    		-webkit-transform: translateX(-100%);

			&.visible {
			    transition: opacity 5s ease-in;
			    transform: translateX(-100%)
			}
		}
	}
}*/

.slide-end {
    position: absolute;
    width: 100%;
	margin: 0;
	padding: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-start {
    position: absolute;
    width: 100%;
	margin: 0;
	padding: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}