@import 'variables';
@import 'mixins';
@import 'layout/container';
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/forms';
@import 'pages/home';
@import 'pages/skills';
@import 'pages/experience';
@import 'pages/projects';
@import 'pages/contact';


/* ========== general ========== */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: $font-family;
	font-size: 1rem;
}

a {
	text-decoration: none;
	transition: $transition;
}

h1, h2, h3, h4, h5 {
	font-family: Ubuntu;
}

h3 {
	font-weight: normal;
}

h4 {
	margin: $gutter 0 $gutter-sm 0;
}

p {
	margin: $gutter-xsm 0 $gutter 0;
}


/* ========== classes ========== */

.mobile {
	@include media-sm-plus {
		display: none;
	}
}

.not-mobile {
	display: none;

	@include media-sm-plus {
		display: block;
	}
}

.hidden {
	opacity: 0;
	z-index: 0;
}

.invisible {
	display: none;
}