//Colors

$blue: #2988bc;
$yellow: #edb83d;
$orange: #de7a22;
$green: #826798;
$contact-primary: #659d32;
$contact-secondary: #9d3265;
$white: #fff;
$black: #000;
$grey: #666;
$grey-light: #ccc;

//Break Points

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1500px;

//Spacing

$gutter-xsm: .25rem;
$gutter-sm: .5rem;
$gutter: 1rem;
$gutter-lg: 2rem;
$radius: .2rem;

//Borders

//Fonts

$font-size: 1.6rem;
$font-size-lg: 2rem;
$font-family: 'Futura', sans-serif;

//Animations

$transition: 200ms all ease-in-out;