//Colors

$home-primary: #826798;
$home-secondary: #679698;
$skills-primary: #edb83d;
$skills-secondary: #d4dde1;
$skills-ternary: #f5f5f5;
$experience-primary: #2988bc;
$experience-secondary: #d67743;
$projects-primary: #de7a22;
$projects-secondary: #2286de;
$contact-primary: #659d32;
$contact-secondary: #9d3265;

$white: #fff;
$black: #000;
$grey: #666;
$grey-light: #ccc;
$error: #cc0000;

//Break Points

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1500px;

//Spacing

$gutter-xsm: .25rem;
$gutter-sm: .5rem;
$gutter: 1rem;
$gutter-lg: 2rem;
$gutter-xl: 3.5rem;
$radius: .2rem;

//Borders

//Fonts

$font-size: 1.6rem;
$font-size-lg: 2rem;
$font-family: Lato, sans-serif;

//Animations

$transition: 300ms all ease-in-out;