//Colors

$blue: #3771c8;
$yellow: #d4aa00;
$orange: #d45500;
$green: #5aa02c;
$white: #fff;
$black: #000;
$grey: #666;
$grey-light: #ccc;

//Break Points

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1500px;

//Spacing

$gutter-xsm: .25rem;
$gutter-sm: .5rem;
$gutter: 1rem;
$gutter-lg: 2rem;
$radius: .2rem;

//Borders

//Fonts

$font-size: 1.6rem;
$font-size-lg: 2rem;
$font-family: 'Futura', sans-serif;

//Animations

$transition: 200ms all ease-in-out;