/* ========== app container ========== */

#app .app-container {
	height: 100%;
	width: 100%;

	.fixed-bg {
		transition: $transition;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -10;
	}
}


/* ========== route transitions ========== */

	.f-enter {
		transform: translateX(100%);
	    animation: slide-in-front 0.3s forwards;
	}

	.b-enter {
		transform: translateX(-100%);
	    animation: slide-in-back 0.3s forwards;
	}
	    
	@keyframes slide-in-front {
	    100% { transform: translateX(0%); }
	}

	@keyframes slide-in-back {
	    100% { transform: translateX(0%); }
	}