/* ========== app container ========== */

#app .app-container {
	height: 100%;
	width: 100%;
	overflow: hidden;

	.fixed-bg {
		transition: $transition;
		position: fixed;
		padding-top: 10rem;
		padding-bottom: 10rem;
		top: -10rem;
		bottom: -10rem;
		left: 0;
		right: 0;
		z-index: -10;
	}
}

//react page not found
#page-not-found {
	width: 50%;
	text-align: center;
	margin: $gutter-lg auto;
}