.header {
	padding: $gutter $gutter 0 $gutter;
	max-width: 100rem;
	margin: 0 auto;

	.page-heading {
		text-align: center;

		h1 {
			font-size: 1.5rem;
			margin: 0;
			background: $black;

			a {
				display: block;
				transition: none;

				[class^=name] {
					display: inline-block;
					padding: $gutter-sm;
					background: $black;
					color: $white;
				}

				&:hover {
					background: $white;
					color: $black;

					[class^=name] {
						background: $white;
						color: $black;
					}

					@include media-sm-plus {
						.name-first {
							background: $white;
							color: $black;
						}

						.name-last {
							background: $black;
							color: $white;
						}
					}
				}

				@include media-sm-plus {

					[class^=name] {
						padding: $gutter-sm $gutter;
					}
					
					.name-last {
						background: $white;
						color: $black;
					}
				}
			}
		}

		h2 {
			margin: 0 auto;
			font-size: 1.25rem;
			margin: 0;
			padding: $gutter-xsm $gutter-sm;
			background: $white;
			color: $black;
			text-align: center;
		}

		@include media-sm-plus {
			display: block;
			margin: 0;
		}
	}

	nav {

		ul {
			list-style-type: none;
			padding-left: 0;
			margin-top: .7rem;

			li {
				display: inline-block;

				a {
					padding: $gutter-sm;
					font-weight: bold;
					color: $white;

					&:hover {
						color: $black;
					}
				}
			}
		}
	}

	@include media-sm-plus {
		display: flex;
		justify-content: space-between;
		padding: $gutter $gutter-lg 0 $gutter-lg;
	}
}