#contact {
	.contact-sections {

		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		grid-template-rows: auto;
		grid-template-areas:
				"form"
				"info"
				"graphic";

		@include media-sm-plus {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas:
				"form form info info"
				"graphic graphic graphic graphic";
		}

		> section {

			&.contact-form {
				grid-area: form;
			}

			&.contact-info {
				grid-area: info;
			}

			&.contact-graphic {
				grid-area: graphic;

				img {
					max-width: 100%;
				}
			}

			a {
				color: $contact-secondary;

				&:hover {
					color: $contact-primary;
				}
			}

			h4 {
				margin: $gutter 0 $gutter-sm 0;
			}

			h5 {
				font-size: 1rem;
				margin: $gutter 0 $gutter-sm 0;
			}

			p {
				margin: $gutter-sm 0;
			}
		}
	}
}