.contact {

	.fixed-bg {
		background: $contact-primary;
	}

	.header nav a.link-contact {
		@extend %selected;
	}

	#contact {
		.contact-sections {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas:
					"form"
					"info"
					"graphic";

			@include media-sm-plus {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					"form form info info"
					"graphic graphic graphic graphic";
			}

			> section {

				@include pageLinks($contact-primary, $contact-secondary);

				&.contact-form {
					grid-area: form;
				}

				&.contact-info {
					grid-area: info;
				}

				&.contact-graphic {
					grid-area: graphic;

					img {
						max-width: 100%;
					}
				}
			}
		}
	}
}