.contact {

	.fixed-bg {
		background: $contact-primary;
	}

	.header nav a.link-contact {
		@extend %selected;
	}

	.footer nav li a.link-contact span {
		background: $contact-primary;
	}

	#contact {
		.contact-sections {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas:
					"form"
					"info";

			@include media-sm-plus {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					"form form info info";
			}

			> section {

				@include pageLinks($contact-primary, $contact-secondary);

				&.contact-form {
					grid-area: form;
				}

				&.contact-info {
					grid-area: info;
				}

				.contact-form {

					> div {
						margin-bottom: 1rem;

						input, textarea {
							padding: .5rem;
							width: 100%;
							border: 2px $grey-light solid;
							border-radius: $radius;
							box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
						}

						textarea {
							height: 6rem;
						}
					}

					button[type=submit] {
						padding: $gutter-sm $gutter;
						border: none;
						background: $contact-secondary;
						color: $white;
						transition: $transition;
						float: right;
						margin-bottom: 1rem;

						&:hover {
							background: $white;
							color: $contact-secondary;
						}
					}
				}
			}
		}
	}
}