.experience {

	.fixed-bg {
		background: $experience-primary;
	}

	.header nav a.link-experience {
		color: $black;
		border-bottom: .25rem $black solid;
	}

	#experience {
		.experience-sections {

			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			grid-template-rows: auto;

			@include media-sm-plus {
				grid-template-columns: repeat(3, 1fr);
			}

			> section {

				a {
					color: $experience-secondary;

					&:hover {
						color: $experience-primary;
					}
				}

				h4 {
					margin: 0;

					.dates {
						color: $grey;
						float: right;
						font-weight: normal;
						font-size: .8rem;
					}
				}

				h5 {
					font-size: 1rem;
					margin: $gutter 0 $gutter-sm 0;
				}

				p {
					margin: $gutter-sm 0;
				}
			}
		}
	}
}