.experience {

	.fixed-bg {
		background: $experience-primary;
	}

	.header nav a.link-experience {
		@extend %selected;
	}

	.footer nav li a.link-experience {
		background: $experience-primary;
	}

	#experience {
		.experience-sections {
			grid-template-columns: 1fr;
			grid-template-rows: auto;

			@include media-sm-plus {
				grid-template-columns: repeat(3, 1fr);
			}

			> section {
				@include pageLinks($experience-primary, $experience-secondary);

				h4 .dates {
					color: $grey;
					float: right;
					font-weight: normal;
					font-size: .8rem;
				}

			}
		}
	}
}