.home {

	.fixed-bg {
		background: $home-primary;
	}

	.header nav a.link-home {
		color: $black;
		border-bottom: .25rem $black solid;
	}

	#home {
		.home-sections {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			grid-template-rows: auto;
			grid-template-areas:
				"picture"
				"summary"
				"training"
				"contact";

			@include media-sm-plus {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					"picture summary summary summary"
					"training training contact contact";
			}

			@include media-md-plus {
				grid-template-columns: repeat(6, 1fr);
				grid-template-areas:
					"picture summary summary summary summary summary"
					"training training training contact contact contact";
			}


			> section {

				a {
					color: $home-secondary;
					transition: $transition;

					&:hover {
						color: $home-primary;
					}
				}

				&.home-picture {
					grid-area: picture;
					padding: 0;
					background: url(http://placehold.it/500x500);
					background-position: center;
					background-size: cover;

					@include media-sm-minus {
						min-height: 15rem;
						min-width: 15rem;
						margin: 0 auto;
					}
				}

				&.home-summary {
					grid-area: summary;
				}

				&.home-training {
					grid-area: training;

					> section {
						h4 {
							text-decoration: underline;
						}

						h6 {
							color: $grey;
						}
					}
				}

				&.home-contact {
					grid-area: contact;
				}
			}
		}
	}
}