.home {

	.fixed-bg {
		background: $home-primary;
	}

	.header nav a.link-home {
		@extend %selected;
	}

	.footer nav li a.link-home {
		background: $home-primary;
	}

	#home {
		.home-sections {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas:
				"picture"
				"summary"
				"training"
				"contact";

			@include media-sm-plus {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					"picture summary summary summary"
					"training training contact contact";
			}

			@include media-md-plus {
				grid-template-columns: repeat(6, 1fr);
				grid-template-areas:
					"picture summary summary summary summary summary"
					"training training training contact contact contact";
			}


			> section {

				@include pageLinks($home-primary, $home-secondary);

				&.home-picture {
					grid-area: picture;
					background: url('/public/img/david-woolf.jpg');
					background-position: center;
					background-size: cover;

					@include media-sm-minus {
						min-height: 15rem;
						min-width: 15rem;
						margin: 0 auto;
					}
				}

				&.home-summary {
					grid-area: summary;
				}

				&.home-training {
					grid-area: training;
				}

				&.home-contact {
					grid-area: contact;
				}
			}
		}
	}
}