.projects {

	.fixed-bg {
		background: $projects-primary;
	}

	.header nav a.link-projects {
		@extend %selected;
	}

	.footer nav li a.link-projects span {
		background: $projects-primary;
	}

	#projects {
		.project-sections {
			grid-template-columns: 1fr;
			grid-template-rows: auto;

			@include media-sm-plus {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-md-plus {
				grid-template-columns: repeat(3, 1fr);
			}

			> section {

				h4:first-child a:nth-child(2) {
					float: right;
				}

				@include pageLinks($projects-primary, $projects-secondary);
			}
		}
	}
}